<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shixunaoyou.wifiscanner"
    android:versionCode="3"
    android:versionName="1.4" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5157ed2256240bb70e021dfb" >
        </meta-data>

        <activity
            android:name="com.shixunaoyou.wifiscanner.LoadingActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.WifiScannerMainTabActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.shixunaoyou.wifiscanner.wifi.WifiListActivity" >
        </activity>
        <activity android:name="com.shixunaoyou.wifiscanner.more.MoreActivity" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name="com.shixunaoyou.wifiscanner.more.ProductCenterActivity" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.SettingActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name="com.shixunaoyou.wifiscanner.personcentre.PersonCentreActivity" >
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.wifi.WifiConnectActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.personcentre.RegisterActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.AboutUSActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.FeedbackActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.wifichest.WifiChestActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.AboutProductActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.UserProtocolActivity"
            android:screenOrientation="portrait" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.wifi.HotwordHandlerActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.QuestionWebViewActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shixunaoyou.wifiscanner.more.ProductInfoWebViewActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.shixunaoyou.wifiscanner.wifi.BootCompletedReceiver"
            android:exported="false" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.shixunaoyou.wifiscanner.wifi.WiFiScanService"
            android:exported="false" >
        </service>
        <service
            android:name="com.shixunaoyou.wifiscanner.update.DownloadUpdateService"
            android:exported="false" >
        </service>
    </application>

</manifest>